:root {
    --background-color: #0b0c10;
    --accent-color: #ccfffc;
    --primary-color: #fcfcfc;
    --primary-color2: #1565c0;
}

html,
body {
    padding: 0px;
    margin: 0px;
    background-color: var(--background-color);
    color: var(--primary-color);
    font-family: 'Roboto';
}

a {
    color: var(--accent-color);
}


#page-title {
    padding: 16px;
    text-align: center;
}

#logo {
    width: 30rem;
    min-height: 7.3rem;
    max-height: 7.4rem;
}

@media screen and (max-width: 800px) {
    #page-title {
        padding-top: 0;
    }
    #logo{
        width: 10rem;
        min-height: 2.4rem;
        max-height: 2.5rem;
    }
}