:root {
    --background-color: #0d1117;
    --accent-color: #161b22;
    --border-color: #21262d;
    --text-color: #aaa;
    --white: #fff;
    --tum-blue: #0065bd;
}

body {
    min-height: 100vh;
    text-align: left;
    background-color: var(--background-color);
    color: var(--text-color);
}

.navbar{
    background-color: var(--accent-color);
}

.row {
    margin-top: 2rem;
}

a:hover {
    color: white;
    text-decoration: none;
}

a {
    color: var(--text-color);
}

#video-title {
    font-size: 1.4rem;
}

@media screen and (min-width: 576px) {
    #video-title {
        font-size: 2rem;
    }
}

#video-subtitle {
    font-size: 1rem;
}

.card {
    background: none;
    border: 1px solid var(--border-color);
    border-bottom: none;
    border-radius: 0;
}

.subtitle {
    margin: 0;
}

.copyright {
    margin-top: 5px !important;
}

.tr-title {
    width: 70%;
}

.table td {
    padding: 2px;
    border-top: 1px solid var(--border-color);
}

.h3, h3 {
    text-align: center;
}

.card-body {
    border-top: 1px solid var(--border-color);
}

.rowElem:last-child{
    border-bottom: 1px solid var(--border-color);
}

#stream-frame video {
    width: 100%;
}

#logo {
    max-height: 2.5rem;
}

@media screen and (min-width: 576px) {
    #logo {
        max-height: 3.5rem;
    }
}

.footer-basic {
    padding: 20px 0;
    bottom: 0;
    width: 100%;
    background-color: var(--accent-color);
    box-shadow: 0px 0px 2px 2px black;
    margin-top: 3rem;
}

.footer-basic ul {
    padding: 0;
    list-style: none;
    text-align: center;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
}

.footer-basic li {
    padding: 0 10px;
}

.footer-basic ul a {
    color: inherit;
    text-decoration: none;
    opacity: 0.8;
}

.footer-basic ul a:hover {
    opacity: 1;
}

.footer-basic .copyright {
    margin-top: 15px;
    text-align: center;
    font-size: 13px;
    color: var(--text-color);
    margin-bottom: 0;
}
