:root {
    --background-color: #0b0c10;
    --accent-color: #ccfffc;
    --primary-color: #FCFCFC;
}

#stream-frame {
    width: 70%;
    margin: 0 auto;
    border: 1px solid var(--accent-color);
    border-radius: 5px;
    overflow: hidden;
}

#stream {
    width: 100%;
}

#event-title {
    font-size: 2em;
    color: var(--accent-color);
    text-align: center;
    font-weight: 400;
}

#event-date {
    font-size: 1.5em;
    color: var(--accent-color);
    text-align: center;
    font-weight: 200;
}

#back-btn {
    padding: 16px;
    position: absolute;
    top: 0px;
    left: 0px;
    font-size: 3em;
}
@media screen and (max-width: 800px) {
    #page-title {
        padding-top: 0;
        text-align: right;
    }
    #logo{
        width: max(20%,10rem);
    }
}