<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>{% if title is defined %} {{ title }} | {% endif %}RBGreater</title>
    {# these stylesheets and scripts are available after running "npm i" #}
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.purged.css">
    <link rel="stylesheet" href="/node_modules/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/node_modules/aos/dist/aos.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/favoticons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favoticons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favoticons/favicon-16x16.png">
    <link rel="manifest" href="/static/favoticons/site.webmanifest">
    <link rel="mask-icon" href="/static/favoticons/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/static/favoticons/favicon.ico">
    <meta name="msapplication-TileColor" content="#222222">
    <meta name="msapplication-config" content="/static/favoticons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
</head>