<nav class="navbar navbar-dark navbar-expand-lg">
    <div class="container"><a class="navbar-brand" data-aos="fade-right" data-aos-duration="600" href="/">
        <svg id="logo">
            <use href="/static/logo.svg#RGBreaterLogo"/>
        </svg>
    </a>
        <i onclick="toggleColorScheme()" class="fa fa-moon-o pointer"></i>
    </div>
</nav>