<!DOCTYPE html>
<html lang="en">

{% include 'head.twig' with {'title': name} %}

<body class="d-flex flex-column" style="min-height: 100vh;">
<div style="flex: 1;">
    {% include 'navbar.twig' %}
    <div class="container hero main-content mt-4" data-aos="fade-up" data-aos-duration="800" data-aos-delay="400"
         data-aos-once="true">
        <video class="w-100 pb-2" id="stream" controls></video>
        <script>
            const video = document.getElementById('stream');
            const videoSrc = '{{ hls_url }}';
            if (Hls.isSupported()) {
                const hls = new Hls();
                hls.loadSource(videoSrc);
                hls.attachMedia(video);
            } else if (video.canPlayType('application/vnd.apple.mpegurl')) {
                video.src = videoSrc;
            }
        </script>
        {# RBG occasionally uses special entities like &amp, using raw here so they won't get escaped #}
        <h1 id="video-title">{{ name | raw }}</h1>
        <h2 id="video-subtitle">{{ date | raw }} {% if date and time %} | {% endif %} {{ time | raw }} </h2>
    </div>
</div>
{% include 'footer.twig' %}

</body>

</html>